@model List<AppUser>
@{
    ViewData["Title"] = "Index";
}

<h1>Admin User Index</h1>

<table>

    <thead>
        <tr>
            <th>UserName</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (AppUser item in Model)
        {
            <tr>

                <td>@item.UserName</td>
                <td>@item.AccessFailedCount</td>
                <td>
                    @Html.ActionLink("Add to Admin", "AddAdmin", "Admin", new {id = item.Id})
                    @Html.ActionLink("Remove from Admin", "RemoveAdmin", "Admin", new {id = item.Id})
                </td>

            </tr>
        }

    </tbody>
</table>