@model IdentityCreateViewModel
@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

@if (ViewBag.Msg != null)
{
    <h3>@ViewBag.Msg </h3>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp" method="post">
            <div class="form-group">
                <label asp-for="UserName"></label><br />
                <input class="form-control" asp-for="UserName" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label><br />
                <input class="form-control" asp-for="FirstName" />
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label><br />
                <input class="form-control" asp-for="LastName" />
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label><br />
                <input class="form-control" asp-for="DateOfBirth"  />
                <span class="text-danger" asp-validation-for="DateOfBirth"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label><br />
                <input class="form-control" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControlPassword"></label><br />
                <input class="form-control" asp-for="ControlPassword" />
                <span class="text-danger" asp-validation-for="ControlPassword"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
